body{
    font-family:monospace;
    background: #f5f5f5;
}
.container{
    width:80%;
    margin:auto;
}
h1{
    text-align: center;
}
button{
    padding:12px 25px;
    cursor:pointer;
}
.card{
    background:white;
    margin:10px 0;
    padding:15px;
    border-radius:8px;
    width:300px;
}

.card h1{
    text-align: left;
}

#usersContainer{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}